div.image{
	background: url("picture.jpg") no-repeat;
	background-size: cover;
	height: 250px;
	position: relative;
	justify-content: flex;
	align-items: center;
	color: #ffe6cc;
	text-align: center;
	padding: 40px;
	text-shadow: 5px 5px black;
}
body{
	font-color: white;
	font-family: Roboto, Arial, sans-serif;
}

.container {
   display: grid;
   grid-template-columns: [controls] grid-auto-flow;
   grid-auto-flow: row;
   grid-gap: 10px;
   padding: 5px;
 
}
.container > input {  
    grid-column: controls;
    grid-row: auto;
}

fieldset{
	background-color: rgb(214,234,248);
}

legend{
	padding: 10px;
	background-color: #1c87c9;
}

label{
	font-color: black;
}

#input{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

input:focus, textarea:focus {
	border-style: solid;
	border-width: 2px;
	border-color: #43D1AF;
}

#button{
	background-color: #1abc9c;
	font-color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border:none;
}
